:root {
  --desktop: 1600px;
}

.container_banner {
  max-width: var(--desktop);
  margin-top: 1.5rem;
  margin: auto;
}

.container_banner img{
  width: 100vw;
  height: 600px;
  overflow: hidden;
  /* width: 1440px; */
}


@media (max-width: 768px) {
  .container_banner img {
    max-width: 768px;
  }
}