.container_product {
  display: flex;
  margin: 4rem 5rem;
  gap: 5rem;
}

.container_img {
  margin-left: 2rem;
}

.container_img img {
  width: 400px;
}

.container_info h2 {
  font-size: 2rem;
}

.container_caract {
  max-width: 500px;
  font-size: .8rem;
}

.container_caract h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.container_caract ul {
  list-style: none;
}

.container_caract ul li {
  margin: .8rem 0;
}

.shop_qr {
  display: flex;
  gap: 1rem;
}

.shop_qr img {
  width: 100px;
}

.wsp {
  height: 60px;
}

.show_methods h2 {
  margin-top: 1.3rem;
}

.methods_img {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}

.methods_img img {
  border-radius: 1rem;
  width: 70px;
}

.colorPicker {
  display: flex;
  gap: .4rem;
}

.colorPicker .color {
  width: 30px;
  height: 30px;
  background-color: #222;
  border-radius: 50%;
  box-shadow: inset 6px 9px 72px -55px rgba(0,0,0,0.7);
}

.precio {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-top: 2rem;
  font-size: 1.7rem;
  color: #032757ff;
}

.color.negro {
  background-color: #363432;
}
.color.dorado {
  background-color: #cebfa0;
}
.color.blanco {
  background-color: #fff;
}
.color.plata {
  background-color: #eef1f0;
}
.color.purpura {
  background-color: #63596a;
}
.color.lila {
  background-color: #bdb0e7;
}
.color.amarillo {
  background-color: #fce47f;
}
.color.azulsierra {
  background-color: #a2bdd6;
}
.color.rosa {
  background-color: #f9dcd6;
}
.color.medianoche {
  background-color: #1a222b;
}
.color.rojo {
  background-color: #9a0211;
}
.color.azul {
  background-color: #22617e;
}
.color.verde {
  background-color: #c7dec4;
}