:root {
  --desktop: 1640px;
}

.footer {
  background-color: #032757;
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  padding: 2.4rem 0;
  gap: 3rem;
  max-width: var(--desktop);
  margin: auto;
}
.footer_cont {
  width: 300px;
  text-align: center;
}

.servicios{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.servicios h2 {
  font-weight: 600;
}
.servicios ul {
  list-style: none;
}

.servicios ul li {
  margin-bottom: .3rem;
  text-align: start;
}

.contacto .contacto_num {
  display: flex;
  margin-top: 1.6rem;
  gap: .5rem;
  justify-content: center;
}

.eslogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  font-size: 1.5rem;
}
.eslogan .eslogan_img {
  width: max-content;
  margin-top: 1.5rem;
}
.eslogan img {
  background-color: #fff;
  width: 150px;
  border-radius: 2rem;
}


@media ( max-width: 768px) {
  .footer_cont {
    width: 200px;
  }
}
@media ( max-width: 500px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .footer .contacto {
    width: 200px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 2.5rem 0;
  }
}