/* Carrusel.css */

.carrusel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carrusel-btn {
  background-color: #032757ff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 0 10px;
  font-size: 16px;
  border-radius: 5px;
}

.carrusel-btn.prev {
  background-color: #032757ff;
}

.carrusel-container {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.carrusel-item {
  flex: 0 0 calc(50% - 20px); /* Ajusta el ancho de los elementos del carrusel según sea necesario */
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.carrusel-item img {
  max-width: 350px;
  height: auto;
  /* border: 1px solid #ddd; */
  border-radius: 5px;
}

.carrusel-item p {
  margin-top: 10px;
  font-weight: bold;
}

.carrusel-item .precio{
  color: #032757ff;
  text-align: center;
}
/* Estilos adicionales según sea necesario */

.bannerGen img{
  height: 60px; 
  width: 100%; 
}

@media ( max-width: 786px ) {
  .carrusel {
    width: 700px;
    margin: auto;
  }

  .carrusel-item img {
    max-width: 200px;
  }
}

@media (max-width: 500px) {

  .carrusel.mobile {
    max-width: 300px;
    margin: auto;
  }

  /* .carrusel-container {
    display: flex;
    justify-content: center;
    gap: 5rem;
  } */

  /* .carrusel-item {
    flex-basis: calc(100% - 20px); 
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
  .carrusel-btn {
    padding: 5px 10px;
    margin: 0;
  }
}

