/* Carrusel.css */

.carrusel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.carrusel-btn {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 0 10px;
  font-size: 16px;
  border-radius: 5px;
}

.carrusel-btn.prev {
  background-color: #333;
}

.carrusel-container {
  display: flex;
}

.carrusel-item {
  flex: 0 0 calc(50% - 20px); /* Ajusta el ancho de los elementos del carrusel según sea necesario */
  padding: 20px;
  text-align: center;
}

.carrusel-item img {
  max-width: 100%;
  height: auto;
  /* border: 1px solid #ddd; */
  border-radius: 5px;
}

.carrusel-item p {
  margin-top: 10px;
  font-weight: bold;
}

.carrusel-item .precio{
  color: #032757ff;
  text-align: center;
}
/* Estilos adicionales según sea necesario */
