.carrusel-container {
  text-align: center;
  position: relative;
}

.carrusel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  transition: transform 0.5s ease-in-out;
}

.carrusel-slide {
  flex: 0 0 48%; /* Ajusta el ancho de cada imagen según tus necesidades */
  padding: 20px;
  text-align: center;
  opacity: 0.7;
  transition: transform 0.5s ease-in-out;
}

.carrusel-slide.active {
  flex: 0 0 48%; /* Ajusta el ancho de cada imagen activa según tus necesidades */
  opacity: 1;
}

.carrusel img {
  max-width: 100%;
  height: auto;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px 15px;
  color: #333;
}

.prev-button {
  left: 0;
}

.next-button {
  right: 0;
}
